@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html{
    margin: 0;
    padding: 0;
}


body {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 10%;
}

textarea, input{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    outline: none; 
}


.qrCode{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.inputCls{    
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: 2px solid green;
}

.textareaCls{
    width: 100%;
    border-bottom: 2px solid green;
    min-height: 200px;
    min-width: 200px;
}

.assCountFig{
    display: flex;
    justify-content: center;

}

.assCountFig > div{
    width: 450px;    
}